<div class="center">
  <div>
    <h1 class='dg item'><%= link_to 'Donald Glover', donaldglover_path %></h1>
  </div>
  <div>
    <h1 class='cg item'><%= link_to 'Childish Gambino', childishgambino_path %></h1>
  </div>
  <div>
    <h1 class='troy item'><%= link_to 'Troy', troy_path %></h1>
  </div> 
  <div>
    <h1 class='tb item'><%= link_to 'The Boy', theboy_path %></h1>
  </div>
  <div>
    <h1 class='item'><%= link_to 'REAL', real_path %></h1>
  </div>
</div>