<div class="center">
  <div class="card">
    <div class="card-image dg">
      <span><%= link_to 'Donald Glover', donaldglover_path %></span>
    </div>
  </div>
  <div class="card">
    <div class="card-image cg">
      <span><%= link_to 'Childish Gambino', childishgambino_path %></span>
    </div>
  </div>
  <div class="card">
    <div class="card-image troy">
      <span><%= link_to 'Troy', troy_path %></span>
    </div>
  </div> 
  <div class="card">
    <div class="card-image tb">
      <span><%= link_to 'The Boy', theboy_path %></span>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <span><%= link_to 'REAL', pins_path %></span>
    </div>
  </div>
</div>