<%= render 'static_pages/partials/home' if !user_signed_in? %>
<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to (image_tag pin.image.url), pin %>
      <div class="panel-body">
        <div class="pin-title"><%= pin.description %></div>
        <strong><%= pin.user.user_name %></strong>
        <% if current_user && (pin.user == current_user) %>
            <%= link_to edit_pin_path(pin) do %>
              <span class="glyphicon glyphicon-edit change-size"></span>
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash change-size"></span>
            <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>